*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.link{
  text-decoration: none;
  color: tomato;
  transition: 0.2s linear;
}


.nav_bar_wrapper a{
  padding-left: 30px;
  /* border: 2px solid white; */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.form{
  background-color: #36454F;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 20rem;
  border-radius: 2rem;
}

/* ***************** Gallary design *************** */

h1{
  font-weight: 900;
  text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  text-align: center;
}
.gallary{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 12px 12px;
}

.gallary .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  margin-bottom: 12px;
  position: relative;
}
.gallary .pics img{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.gallary .pics:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
@media (max-width: 991px){
  .gallary{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px){
  .gallary{
    -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
}
